<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="classesPackage.Parent"/>
      <class name="classesPackage.Login"/>
      		<methods>
      			<exclude name = "MobileLoginHome"/>
      			<exclude name ="Mobile.*"/>
      			
      		</methods>
      		
      <class name="classesPackage.A"/>
      <methods>
      			<include name = "OnlyRunMe"/>
      </methods>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->







